/* index */

video {
	position: absolute;
	display: block;
	width: 100%;
}

header {
	overflow: hidden;
	position: relative;
	text-align: center;
	margin-top: 150px;
	color: black;
}

footer {
	overflow: hidden;
	position: relative;
	text-align: center;
	margin-top: 10cm;
}
