.album {
    padding-top: 50px;
    padding-bottom: 50px;
    background-color: #fff;
}


.card {
		padding: 10px;
		margin-bottom: 30px;
		border: 0;
}

.card > img {
		margin-bottom: 10px;
}

.btn {
	margin-bottom: 5px;
}